{% extends 'index.html' %}
{% block content %}

        <!-- About Start -->
        <div class="container-xxl py-5 " style="height:100vh;">
            <div class="container">
                <div class="row g-5 align-items-center">
                   
                    <div class="col-lg-6 offset-lg-3 wow fadeIn" data-wow-delay="0.5s">
                        
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">Established in 2008, AIET has launched path-breaking initiatives in Indian higher education with the introduction of innovative and modern curricula, insistence on academic discipline, imparting of Holistic Education and adoption of global higher education practices with the support of creative and dedicated staff.</p>
                
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

{% endblock %}