{% extends 'index.html' %}
{% block content %}
{% load static %}

{% if user.username == "recruiter" %}
   <br>
   <div style="display:flex;justify-content:center;align-items:center;">    
       <a href="{% url 'download_applicants_csv' pk=job.pk %}" class="btn btn-primary mb-3 ">Download CSV</a>
   </div>
{% endif %}

{% if applicants %}
   <div class="table-responsive" style="height:100vh;">
      <table class="table table-striped table-success table-hover table-bordered table-sm">
         <thead class="table-dark">
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Email</th>
               <th scope="col">Status</th>
            </tr>
         </thead>
         <tbody>
            {% for applicant in applicants %}
            <tr>
               <td>{{ applicant.user.username }}</td>
               <td>{{ applicant.user.email }}</td>
               <td>{{ applicant.status }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endif %}

{% endblock %}
