{% extends 'index.html' %}
{% block content %}
{% load static %}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4 ">
   
        <form method="post"  action="{% url 'login' %}" id ="form">
    <div class="mb-3">
        {% csrf_token %}
      <input type="text" class="form-control"  name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="password" required>
    </div>
    <button type="submit" class="btn btn-primary ">Login</button>
  </form>
  </div>
</div>
{% endblock %}