<!-- profile_edit.html -->
{% extends 'index.html' %}

{% block content %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="card-body p-4">
                        <h6>Form Section</h6>
                        <hr class="mt-0 mb-4">
                        <form method="post" enctype="multipart/form-data" class="needs-validation">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
